*{
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: 400;
}
html{
 width: 100%;
 max-width: 100%;
 margin: 0;
 padding: 0;
 overflow-x: hidden;
}
body{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #5CDB95;
}
.background__img img{
  width: 250px;
  height: 250px;
  position: fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: -1;
}
.main__title{
  display: flex;
  justify-content: center;
  width: 100%;
 }
 .main__title p{
  color: #EDF5E1;
  border: 2px solid #dadfd2;
  font-size: 20px;
  box-shadow: 0px 0px 26px;
  margin: 20px 0 30px 0;
 }
 .photo{
  width: 100%;
  height: 200px;
  background-color: rgb(136, 136, 136);
}
.line{
  border: 1.5px solid #EDF5E1; 
  margin: 18px auto 18px auto;
  width: 96%;
}
.description__title{
  margin-left: 20px;
  margin-bottom: 5px;
}
.description__title__txt {
  font-weight: 400;
}
.description, .map__container{
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.description{
  height: auto;
}
.content, .map__container__content{
  width: 95%;
  height: 200px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.content{
  height: auto;
  padding: 7px;
}
.content__blockFirst, .content__blockSecond{
  padding: 7px;
  border-radius: 10px;
  background: #9dfcc1;
}
.content p{
  color: #000000;
  font-weight: 600;
  font-size: 13px;
}
.map__container__content{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.map__container__content__phone__container{
  display: flex;
  align-items: center;
  gap: 5px;
}
.map__container__content__phone__container__phoneNumber{
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  font-size: 12px;
}
.map__container__content__phone__container__phoneNumber:hover{
  color: #b2b2b2;
}
.map__container__content__img{
  width: 14px;
}
.map{
  width: 60vw;
  height: 140px;
  background-color: #EDF5E1;
}
.map__title{
  color: #05386B;
}
@media screen and (min-width: 600px) {
  .map__container__content__phone__container__phoneNumber{
    font-size: 17px;
  }
  .map__container__content__img{
    width: 20px;
  }
  .content p{
    font-size: 17px;
  }
}
@media screen and (min-width: 900px) {
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo{
    display: flex;
    width: 900px;
  }
  .line{
    width: 890px;
  }
  .description__title{
    position: absolute;
    z-index: 2;
  }
  .description{
    margin-top: 23px;
    width: 900px;
  }
  .description__title__txt {
    font-size: 17px;
    font-weight: 600;
  }
  .map__container{
    width: 900px;
  }
  .map__container__content__phone__container__phoneNumber{
    font-size: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .map{
    width: 600px;
  }
}